<footer class="footer-section bg_img" data-background="/assets/images/footer/footer-bg.jpg">
    <div class="container">
        <div class="footer-top padding-top padding-bottom">
            <div class="logo">
                <a href="#0">
                    <img src="/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>



        <div class="copyright">
            <p>
                Copyright © 2021. All Rights Reserved By <a href="https://iungobot.net/">IUNGO</a>
            </p>
        </div>
    </div>
</footer>
