<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Peepy Llama - Change Logs</title>
    <meta content="Peepy Llama | Change Logs" property="og:title">
    <meta content="https://iungobot.net/" property="og:url">
    <meta content="/assets/Discord/dashboard.png" property="og:image">
    <meta content="#1c1c1d" data-react-helmet="true" name="theme-color">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/owl.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
</head>
<body data-spy="scroll" data-target="#faq-menu" data-offset="150">
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <%- include("partials/header", { bot, user, path, title: "Home" }) %>
    <section class="page-header single-header blog-single-header bg_img oh" data-background="http://iungobot.net/assets/Discord/background.png)">
        <div class="bottom-shape">
            <img src="/assets/css/img/page-header2.png" alt="css">
        </div>
    </section>
    <section class="blog-single-section padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <article>
                        <div class="post-details">
                            <div class="post-inner">
                                <div class="post-header">
                                    <div class="meta-post">
                                        <a href="#0" class="read">4nd April 2021</a>
                                        <a href="#0" class="read">3 min read</a>
                                    </div>
                                    <h3 class="title">
                                        Peepy Llama Update Log
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="/assets/images/blog/iungo.png" alt="blog">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <p>The latest release of Peepy Llama includes many amazing new features for everyone to use! Some features have been limited due to certain issues that will be fixed in a near release.</p>
                                        <div class="tags-area">
                                            <div class="tags">
                                                <span>
                                                    MUSIC 
                                                </span>
                                            </div>
                                        </div>
                                        <p>Better Music Optimisation
                                        <br>Added Support for Spotify Music URLs
                                        <p>
                                            <div class="tags-area">
                                                <div class="tags">
                                                    <span>
                                                        General Info
                                                    </span>
                                                </div>
                                            </div>
                                            Moved Peepy Llama to Online Database for more dynamic functionality per server.
                                        <br>Ability to Specify your desired trigger Prefix (default " + ")
                                        <br>Levelling Messages can be customized.<br>
                                            </p>
                                            <img src="/assets/Discord/dashboard.png" alt="blog">
                                            <p>
                                        <div class="tags-area">
                                            <div class="tags">
                                                <span>
                                                    Reworked Commands
                                                </span>
                                            </div>
                                        </div>
                                        MUSIC: 22 New Music Commands
                                        <br>GUILD: 2 New Server Commands
                                        <br>LEVELS: 2 New Level Commands
                                        <br>MISC: 4 New Bot Commands
                                        <br>MOD: 1 New Moderation Command
                                        </p>
                                        <img src="/assets/Discord/help.png" alt="blog">
                                        <p>
                                            We love you ❤️
                                        </div>
                                </div>
                            </div>
                            <div class="tags-area">
                                <div class="tags">
                                    <span>
                                        Tags : 
                                    </span>
                                    <div class="tags-item">
                                        <a href="#0"> Update </a>
                                        <a href="#0"> Coming Soon </a>
                                        <a href="#0"> Music </a>
                                        <a href="#0"> Moderation </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/magnific-popup.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/waypoints.js"></script>
    <script src="/assets/js/nice-select.js"></script>
    <script src="/assets/js/owl.min.js"></script>
    <script src="/assets/js/counterup.min.js"></script>
    <script src="/assets/js/paroller.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>